body{
    color: rgb(180, 20, 20);
   background: rgb(5, 12, 4);
   margin: 0px;
   font-family: "1 font family selected",sans-serif;
      marcin-bottom: 100px;
}

header{
    border-bottom:solid 2px rgb(100, 8, 8);
    padding: 20px;
    font-size: 32px;
    color:rgb(9, 1, 1, 0);
}

.chamada{
    background:rgb(58, 95, 227, 0.726);
    padding-bottom: 80px;
    padding-top: 80px;
    display:flex;
    justify-content:center;
}

.chamada-texto{
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.categoria-vídeos {
    display:flex;
    overflow:auto;
    gap: 10px;
}
.categoria {
    padding:20px;
    padding-right:20px;
    marcin-top: 50px;
}
.categoria-vídeos img{
opacity: 0.5;
height: 200px;
} 
.categoria-vídeos img:hover{
    opacity: 1.0;
    border: 1px solid rgb(211, 110, 211);
}

.categoria h2{
    color:rgb(179, 113, 241);
}
