body{
    color:rgba(148, 23, 23, 0.644);
    background:rgba(26, 20, 112, 0.829);
    margin: 0px;
    font-family:"Stack Sans Text", sans-serif;
}
header{
    border-bottom: solid 2px rgb(211, 211, 255);
    padding: 20px;
    font-size: 32px;
    color: rgb(116, 16, 54);
}
.chamada{ 
    background: rgb(231, 77, 77);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 40px;
}
p{
    font-size: 20px;
}
.categoria-videos{
    display:flex;
    overflow: auto;
    gap: 10px;
}
.categoria{
    padding: 20px;
    padding-right: 20px;
}
.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}
.categoria-videos img:hover{
    opacity: 1.0;
    border: 1px solid rgb(112, 14, 14);
}



